module.exports = {
    USER: '',
    password: '',
    API_KEY: '', // you can find it in your cartodb dashboard: https://YOURUSER.cartodb.com/your_apps/api_key
    // you do not need to fill those two for this example
    CONSUMER_KEY: '', 
    CONSUMER_SECRET: '',
};
